$secreen-xl: min-width 1200px;
$secreen-lg: 992px 1199px;
$secreen-max-lg: max-width 1199px;
$secreen-min-lg: min-width 992px;

$secreen-md: 768px 991px;
$secreen-max-md: max-width 991px;
$secreen-sm: 576px 767px;
$secreen-max-sm: max-width 767px;

$secreen-xs: max-width 575px;
$secreen-xxs: max-width 420px;
$secreen-custom: max-width 600px;
